In [1]:
import streamlit as st
import pandas as pd
import requests
import plotly.express as px

st.set_page_config(layout = 'wide')

def formata_numero(valor,prefixo= ''):
    for unidade in ['','mil']:
        if valor <1000:
            return f'{prefixo}{valor:.2f}{unidade}'
        valor /=1000
    return f'{prefixo}{valor:.2f} milhões'

st.title('DASHBOARD DE VENDAS :shopping_trolley:')

url = 'https://labdados.com/produtos'
response = requests.get(url)
dados = pd.DataFrame.from_dict(response.json())
dados['Data da Compra'] = pd.to_datetime(dados['Data da Compra'], format = '%d/%m/%Y')

2024-05-01 14:28:30.197
  Warning: to view this Streamlit app on a browser, run it with the following
  command:

    streamlit run C:\Users\lucas\anaconda3\lib\site-packages\ipykernel_launcher.py [ARGUMENTS]

In [2]:


## Construindo tabelas auxiliares
### Tabelas Receita
receita_estado = dados.groupby('Local da compra')[['Preço']].sum()
receita_estado = dados.drop_duplicates(subset='Local da compra')[['Local da compra','lat','lon']].merge(receita_estado,left_on='Local da compra',right_index=True).sort_values('Preço',ascending=False)
receita_mensal = dados.set_index('Data da Compra').groupby(pd.Grouper(freq='M'))['Preço'].sum().reset_index()
receita_mensal['Ano'] = receita_mensal['Data da Compra'].dt.year
receita_mensal['Mes'] = receita_mensal['Data da Compra'].dt.month_name()
receita_categorias = dados.groupby('Categoria do Produto')[['Preço']].sum().sort_values('Preço',ascending=False)

## Tabela Vendas

qtd_vendas_estado = dados.groupby('Local da compra')[['Local da compra']].count()
qtd_vendas_estado = dados.drop_duplicates(subset='Local da compra')[['Local da compra','lat','lon']].merge(qtd_vendas_estado,left_on='Local da compra',right_index=True).sort_values('Local da compra',ascending=False)
qtd_vendas_mensal  = dados.set_index('Data da Compra').groupby(pd.Grouper(freq='M'))['Local da compra'].count().reset_index()
qtd_vendas_mensal['Ano'] = qtd_vendas_mensal['Data da Compra'].dt.year
qtd_vendas_mensal['Mes'] = qtd_vendas_mensal['Data da Compra'].dt.month_name()
###Tabelas Vendedores 
vendedores = pd.DataFrame(dados.groupby('Vendedor')['Preço'].agg(['sum', 'count']))

In [3]:
qtd_vendas_mensal = qtd_vendas_mensal.rename(columns= {'Local da compra': 'Qtd de vendas'})

In [4]:
qtd_vendas_categorias = dados['Categoria do Produto'].value_counts().reset_index()
qtd_vendas_categorias.columns = ['Categoria do Produto', 'Quantidade de Vendas']

In [5]:
qtd_vendas_categorias2 = dados.groupby('Categoria do Produto')[['Preço']].count().sort_values('Preço',ascending=False)

In [6]:
with st.expander('Colunas'):
    colunas = st.multiselect('Selecione as colunas', list(dados.columns), list(dados.columns))

st.sidebar.title('Filtros')
with st.sidebar.expander('Nome do produto'):
    produtos = st.multiselect('Selecione os produtos', dados['Produto'].unique(), dados['Produto'].unique())

with st.sidebar.expander('Preço do produto'):
    preco = st.slider('Selecione o preço', 0, 5000, (0,5000))

with st.sidebar.expander('Data da compra'):
    data_compra = st.date_input('Selecione a data', (dados['Data da Compra'].min(), dados['Data da Compra'].max()))

with st.sidebar.expander('Vendedor'):
    vendedores = st.multiselect('Selecione os vendedores', dados['Vendedor'].unique(), dados['Vendedor'].unique())
with st.sidebar.expander('Local da compra'):
    local_compra = st.multiselect('Selecione o local da compra', dados['Local da compra'].unique(), dados['Local da compra'].unique())
with st.sidebar.expander('Avaliação da compra'):
    avaliacao = st.slider('Selecione a avaliação da compra',1,5, value = (1,5))
with st.sidebar.expander('Tipo de pagamento'):
    tipo_pagamento = st.multiselect('Selecione o tipo de pagamento',dados['Tipo de pagamento'].unique(), dados['Tipo de pagamento'].unique())
with st.sidebar.expander('Quantidade de parcelas'):
    qtd_parcelas = st.slider('Selecione a quantidade de parcelas', 1, 24, (1,24))

In [13]:
dados.columns

Index(['Produto', 'Categoria do Produto', 'Preço', 'Frete', 'Data da Compra',
       'Vendedor', 'Local da compra', 'Avaliação da compra',
       'Tipo de pagamento', 'Quantidade de parcelas', 'lat', 'lon'],
      dtype='object')

In [13]:
qtd_vendas_categorias2.head()

                      Preço
Categoria do Produto
moveis                 1886
eletronicos            1772
brinquedos             1290
eletrodomesticos       1149
esporte e lazer        1113

In [10]:
qtd_vendas_categorias.head()

  Categoria do Produto  Quantidade de Vendas
0               moveis                  1886
1          eletronicos                  1772
2           brinquedos                  1290
3     eletrodomesticos                  1149
4      esporte e lazer                  1113

In [ ]:


## Gráficos

fig_mapa_receita = px.scatter_geo(receita_estado,
                                  lat='lat',
                                  lon='lon',
                                  scope='south america',
                                  size='Preço',
                                  template= 'seaborn',
                                  hover_name='Local da compra',
                                  hover_data={'lat':False,'lon':False},
                                  title= 'Receita por Estado')


fig_receita_mensal = px.line(receita_mensal,
                                                        x = 'Mes',
                                                        y = 'Preço',
                                                        markers = True,
                                                        range_y = (0, receita_mensal.max()),
                                                        color='Ano',
                                                        line_dash = 'Ano',
                                                        title = 'Receita mensal')

fig_receita_mensal.update_layout(yaxis_title = 'Receita')


fig_receita_estado = px.bar(receita_estado.head(),
                            x = 'Local da compra',
                            y = 'Preço',
                            text_auto= True,
                            title = 'Top estados (receita)')

fig_receita_estado.update_layout(yaxis_title = 'Receita')

fig_receita_categorias = px.bar(receita_categorias.head(),
                            text_auto= True,
                            title = 'Receita por categoria')

In [ ]:


## Visualização no Streamlit

## Definindo a quantidade de abas / páginas a serem exibidas no painel do streamlit

aba1, aba2, aba3 = st.tabs(['Receita','Quantidade de Vendas', 'Vendedores'])

with aba1:
    coluna1,coluna2 = st.columns(2)
    with coluna1:
        st.metric('Receita',formata_numero(dados['Preço'].sum().round(0),'R$'))
        st.plotly_chart(fig_mapa_receita,use_container_width = True)
        st.plotly_chart(fig_receita_estado,use_container_width=True)
    with coluna2:
        st.metric('Quantidade de vendas',formata_numero(dados.shape[0]))
        st.plotly_chart(fig_receita_mensal,use_container_width = True)
        st.plotly_chart(fig_receita_categorias,use_container_width=True)

with aba2:
    coluna1,coluna2,coluna3 = st.columns(3)
    with coluna1:
        st.metric('Receita',formata_numero(dados['Preço'].sum().round(0),'R$'))
        st.plotly_chart(fig_mapa_qtd_vendas,use_container_width = True)
    with coluna2:
        st.metric('Quantidade de vendas',formata_numero(dados.shape[0]))

    with coluna3:
        st.metric('Quantidade de estados',dados['Local da compra'].nunique())

       
with aba3:
    qtd_vendedores = st.number_input('Quantidade de vendedores', 2, 10, 5)
    coluna1,coluna2 = st.columns(2)
    with coluna1:
        st.metric('Receita',formata_numero(dados['Preço'].sum().round(0),'R$'))
        fig_receita_vendedores = px.bar(
        vendedores[['sum']].sort_values('sum', ascending=False).head(qtd_vendedores),
        x='sum',
        y=vendedores[['sum']].sort_values(['sum'], ascending=False).head(qtd_vendedores).index,
        text_auto=True,
        title=f'Top {qtd_vendedores} vendedores (receita)'
        )
        st.plotly_chart(fig_receita_vendedores,use_container_width=True)

    with coluna2:
        st.metric('Quantidade de vendas',formata_numero(dados.shape[0]))
        fig_venda_vendedores = px.bar(
        vendedores[['count']].sort_values('count', ascending=False).head(qtd_vendedores),
        x='count',
        y=vendedores[['count']].sort_values(['count'], ascending=False).head(qtd_vendedores).index,
        text_auto=True,
        title=f'Top {qtd_vendedores} vendedores (Quantidade de vendas)'
        )
        st.plotly_chart(fig_venda_vendedores,use_container_width=True)
    

#código para exibir o df  no streamlit
# st.dataframe(dados)